.logo {
    padding: 8px 15px;
    color: #1a1a1a;
    font-size: 3.5rem;
    font-family: 'Righteous';
    cursor: default;

    @media (max-width: 720px) {
        font-size: 2.5rem;
        padding: 6px 10px;
        z-index: 100;
    }
}