@import 'styles/fonts';
@import 'styles/mixins';
@import 'styles/colors';

.logo {
    padding: 8px 15px;
    color: $color-cod-gray;
    font-size: 3.5rem;
    font-family: $font-logo;
    cursor: default;

    @include breakpoint('sm', 'max') {
        font-size: 2.5rem;
        padding: 6px 10px;
        z-index: 100;
    }
}