@import 'styles/mixins';
@import 'styles/colors';

.navigation {
    display: none;
    margin-left: auto;

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            padding: 30px 20px;
            text-align: center;
            text-transform: uppercase;

            a {
                color: #1a1a1a;
                font-family: "Alata", Arial, Helvetica, sans-serif;
                transition: 200ms ease-in-out;

                &:hover {
                    color: $color-azure-blue;
                }
            }
        }
    }
}

@include breakpoint('sm') {
    .navigation {
        display: block;
    }
}