$color-electric-violet: #6633ff;
$color-concrete-white: #f2f2f2;
$color-azure-blue: #0099ff;
$color-dove-gray: #6d6d6d;
$color-alabaster-white: #f8f8f8;
$color-cod-gray: #1a1a1a;
$color-seashell-white: #f1f1f1;
$color-black-russian: #0a001a;
$color-butterfly-violet: #5c47a1;